[submodule "TomatoLib/TomatoLib/Libaries/glfw"]
	path = TomatoLib/TomatoLib/Libaries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "TomatoLib/TomatoLib/Libaries/freetype-gl"]
	path = TomatoLib/TomatoLib/Libaries/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "VTFLib"]
	path = TomatoLib/TomatoLib/Libaries/VTFLib
	url = https://github.com/AngeloG/VTFLib.git
